body {
  margin: 0%;
}
.logoImg {
  width: 250px;
  height: 80px;
  align-self: center;
}
/* for the navabar picture and list*/
.navBar {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: flex;
  justify-content: space-between;
}
/* list in navbar*/
.navList {
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: flex-start;
  gap: 20px;
  color: #0c1753;
  font-family: Quicksand;
  font-size: 30px;
  font-weight: bold;
}
/* for the header picture & texst*/
.firstPart {
  margin: 0%;
  font-family: Quicksand;
  font-size: x-large;
  font-weight: 900;
  display: flex;
  background: linear-gradient(
    0deg,
    rgba(205, 192, 251, 1) 0%,
    rgba(65, 54, 108, 0.835171568627451) 50%
  );
  align-items: center;
  justify-content: space-around;
  color: white;
}
/* all header text*/
.textfirstPart {
  display: flex;
  flex-direction: column;
}
/* header image*/
.firstPartImg {
  margin: 8%;
  max-width: 50%;
  display: flex;
}
/* button */
.btnMore {
  background: #ffe101;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  margin-left: 30%;
  margin-top: 10%;
  font-size: 40px;
  color: #00a69c;
  font-weight: bold;
  font-family: Quicksand;
  margin: 10%;
  align-self: center;
}
p {
  margin-left: 10%;
}
/* margin header */

.firstHeader {
  margin-left: 10%;
}
.servicesHeader {
  color: #00a69c;
  font-family: Quicksand;
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.backgroundImg {
  width: 200px;
  height: 200px;
  background: #ffe101;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.CardsImg {
  margin: 10%;
  max-width: 50%;
}

.cardsContainer {
  background: #fcebfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6% 10% 6% 10%;
}
.bodyImg {
  max-width: 50%;
}
.picWithtxt {
  margin: 10%;
  display: flex;
  align-items: center;
  gap: 100px;
}
.SecondpicWithtxt {
  margin: 10%;
  display: flex;
  gap: 100px;
  flex-direction: row-reverse;
  align-items: center;
}

.paragraphBody {
  font-family: Quicksand;
  line-height: 200%;
  font-size: 100%;
}
.listBody {
  font-family: Quicksand;
  font-size: 80%;
  line-height: 200%;
}

.contactForm {
  display: flex;
  justify-content: space-around;
  background: #0c1753;
  font-family: Quicksand;
  color: white;
  align-items: center;
}
input,
textarea,
.submitBtn {
  width: 90%;
  margin: 10px;
  height: 30px;
  border-radius: 10px;
}
textarea {
  height: 200px;
}
.submitBtn {
  height: 60px;
  background: #ffe101;
  border-radius: 10px;
  font-size: 30px;
  color: #00a69c;
  font-weight: bold;
  font-family: Quicksand;
}
.formLabels {
  margin: 2% 2% 2% 5%;
}
.smallLogo {
  width: 20%;
  margin-left: 4%;

}

footer {
  display: flex;
  color: #0c1753;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
}
.footerHeader{
  color: #00a69c;
  font-family: Quicksand;
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.allLinks {
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  align-items: flex-start;
}

.links {
  font-size: large;
  width: 200%;
  text-decoration: none;
  margin-bottom: 10%;
  color: #0c1753;
  font-family: Quicksand;
  font-weight: bold;
}
.links:hover {
  color: #5566c5;
}

.socialMediaPic{
  width: 20%;

}
.endFooter{
display: flex;
background: linear-gradient(
  0deg,
  rgba(205, 192, 251, 1) 0%,
  rgba(65, 54, 108, 0.835171568627451) 50%
);
justify-content: center;
font-family: Quicksand;
color: white;
}
.CopyrightTxt{
  margin: 1.5%;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .firstPart {
    flex-direction: column-reverse;
    font-size: small;
    margin: 0%;
  }
  .btnMore {
    font-size: 20px;
    width: 100px;
    height: 50px;
  }
  .servicesHeader {
    font-size: large;
    justify-content: center;
  }
  .cardsContainer {
    flex-direction: column;
  }
  .card {
    width: 50%;
    margin-bottom: 20px;
  }
  .backgroundImg {
    width: 60%;
    height: 60%;
  }
  .logoImg {
    width: 120px;
    height: 60px;
    align-self: center;
  }

  .picWithtxt {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
  .bodyImg {
    max-width: 60%;
  }
  .SecondpicWithtxt {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
  .paragraphBody,
  .listBody {
    font-size: 50%;
  }
  .navList {
    gap: 8px;
    flex-direction: column;
    font-size: 10%;
    margin: 5% 0% 5% 20%;
  }

  .contactForm {
    flex-direction: column;
  }
  .formHeader {
    font-size: x-large;
    margin: 10px;
  }
  input,
  textarea,
  .submitBtn {
    width: 80%;
    border-radius: 10px;
    margin-left: 10%;
  }

  .submitBtn {
    height: 50px;
    font-size: 25px;
  }
  footer{
    flex-direction: column;
}
.links{
  font-size: small;
}
.footerHeader{
  font-size: medium;
}
.smallLogo {
  width: 50%;

}
.socialMediaPic{
  width: 15%;

}
.CopyrightTxt{
  margin: 1.5%;
  font-size: 5%;
}

}